<div class="content">
<form action="/Iniciar sesión" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Dirección de email</label>
    <input value="{{user.email}}" type="email" class="form-control {{#if errorMessage}}is-invalid{{/if}}" id="email" name="email" aria-describedby="emailHelp" required>
    <div class="invalid-feedback">
      {{errorMessage}}
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
  <a href="/login/google" class="btn btn-outline-primary">Registrase con google</a>
</form>

</div>