<footer class="container-footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h6 class="">
          <span class="c-light-green">Juicy<b
              class="c-light-green"
            >Mad</b></span>
          en RRSS</h6>
        <a href="https://www.instagram.com/"><i
            class="bi bi-instagram btn-media-socials"
          ></i></a>
        <a href="https://es-es.facebook.com/"><i
            class="bi bi-facebook btn-media-socials"
          ></i></a>
        <a href="https://web.whatsapp.com/"><i
            class="bi bi-whatsapp btn-media-socials"
          ></i></a>
        <a href="https://www.youtube.com/"><i
            class="bi bi-youtube btn-media-socials"
          ></i></a>

      </div>
      <div class="col-lg-6 col-md-12">
        <span class="c-light-white">Team<b
            class="c-light-green"
          >JuicyMad</b></span>
        <div id="map">Juicy Takeaway...</div>
      </div>
    </div>
  </div>
  <div class="text-center p-3 copyright" style="background-color: #708b2d ">©
    2023 Copyright JuicyMad
  </div>
</footer>

