<div>
  <footer class="text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h3 class="text-uppercase">filosofía</h3>

          <p>
            JuicyMad nace como una idea de comida healthy y rápida, una apuesta
            por el producto, el valor nutricional de los alimentos y su relación
            con el día a día de cualquier persona. En nuestra filosofía, la
            rapidez y la calidad van de la mano, nuestros productos no requieren
            de elaboraciones complejas, por ello son tan naturales como su
            manipulación tratando con total respeto la materia prima y su valor
            nutricional.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h3 class="text-uppercase">Juicy team</h3>
          <div id="map">Juicy team...</div>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: #708b2d ">
      © 2023 Copyright JuicyMad

    </div>
  </footer>
</div>