<div class="content">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="background-image: url('./images/carousel-1ok-min.jpg');"
      >
        <div class="carousel-overlay"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>smoothies</h5>
          <p>Sabías que un smoothie te da todos los nutrientes necesarios para
            cubrir las necesidades energéticas de un buen desayuno? Si empiezas,
            no podrás parar.</p>
        </div>

      </div>
      <div
        class="carousel-item"
        style="background-image: url('./images/carousel-2ok-min.jpg');"
      >
        <div class="carousel-overlay"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>bowls</h5>
          <p>Porque son altamente nutritivos, saludables y muy atractivos.
            Blancos, rosas, rojos, verdes, azules, púrpura. El color es uno de
            los puntos fuertes de los batidos en cuenco.

          </p>
        </div>

      </div>
      <div
        class="carousel-item"
        style="background-image: url('./images/carousel-3ok-min.jpg');"
      >
        <div class="carousel-overlay"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>toasts</h5>
          <p>Para desayunar, merendar, hacer el aperitivo o una cena informal,
            te van a encantar nuestras recetas de tostadas con fruta. Formas muy
            sabrosas y saludables de cubrir una rebanada de buen pan tostado,
            con manzana, aguacate, plátano, fresas, higos…</p>
        </div>
      </div>

    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="siguiente"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<div class="header-intro container py-5 my-3 mb-5 m-auto">
  <h1 class="text-center"> <img  src="./images/logo.jpg"</h1>
  <p class="text-center">JuicyMad nace como una idea de comida healthy y rápida; una apuesta por el producto, el valor nutricional de los alimentos y su relación con el día a día de cualquier persona. En nuestra filosofía, la rapidez y la calidad van de la mano, nuestros productos no requieren de elaboraciones complejas, por ello son tan naturales como su manipulación tratando con total respeto la materia prima y su valor nutricional.</p>
</div>

<div class="w-100 bg-light-green">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <img class="w-100 shadow" src="./images/prueba1.jpg" />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
          <h4 class="bold c-white">Queremos ser ese momento del día donde se
            hace el parón.</h1>
          <p class="mt-4 c-white">Crow's nest schooner ho scallywag hail-shot
            gabion salmagundi. Doubloon careen code of conduct lugsail hulk ye
            long clothes.
          </p>
          <a href="#" class="btn btn-juicy-white">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="w-100">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="p-5 mt-4">
          <h4 class="bold">Donde se dedica el tiempo a uno mismo.</h1>
          <p class="mt-4">Crow's nest schooner ho scallywag hail-shot
            gabion salmagundi. Doubloon careen code of conduct lugsail hulk ye
            long clothes.
          </p>
          <a href="#" class="btn btn-juicy-green">Leer más</a>
        </div>
      </div>
        <div class="col-lg-6">
        <img class="w-100 shadow" src="./images/prueba3.jpg" />
      </div>
    </div>
  </div>
</div>

<div class="w-100 bg-light-green">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <img class="w-100 shadow" src="./images/prueba2.jpeg" />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
          <h4 class="bold c-white">donde comienzan los propósitos saludables.</h1>
          <p class="mt-4 c-white">Crow's nest schooner ho scallywag hail-shot
            gabion salmagundi. Doubloon careen code of conduct lugsail hulk ye
            long clothes.
          </p>
          <a href="#" class="btn btn-juicy-white">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{! <div class="card-group mt-3">
    <div class="card text-center border-info">
      <div class="card-body">
        <h6 class="card-title">Queremos ser ese momento del día donde se hace el
          parón.</h6>
        <img
          src="./images/prueba1.jpg"
          class="card-img-top"
          alt="./images/prueba1.jpg"
        />
      </div>
    </div>

    <div class="card text-center border-info">
      <div class="card-body">
        <h6 class="card-title">Donde se dedica el tiempo a uno mismo.</h6>
        <img
          src="./images/prueba3.jpg"
          class="card-img-top"
          alt="./images/prueba3.jpg"
        />
      </div>
    </div>

    <div class="card text-center border-info">
      <div class="card-body">
        <h6 class="card-title">Donde comienzan los propósitos saludables.</h6>
        <img
          src="./images/prueba2.jpeg"
          class="card-img-top"
          alt="./images/prueba2.jpeg."
        />
      </div>
    </div> }}