* {
  color: #6e6e6e;
}

.bg-light-green {
  background-color: #c1c654;
}

.c-white {
  color: white !important;
}

.c-light-green {
  color: #c1c654 !important;
}

.bold {
  font-weight: 900;
}

button.btn{
  min-width: 195px;
  margin-top: 30px;
}


.auth-btn > button{
  margin: 0 15px 0 0;

}

.btn-juicy-admin, .btn-juicy-white:hover, .btn-juicy-green:hover {
  background-color: #708b2d;
  color: white;
}

.btn-juicy-white, .btn-juicy-admin:hover {
  background-color: white;
  color: #708b2d;
}

.btn-juicy-green {
  background-color: #c1c654;
  color: white;

}

html {
  height: 100%;
}
nav {
  background-color: #a4ad48 !important;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin: 0;
}

.carousel-inner {
  height: 600px;
  color: white !important;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-detail {
  padding: 60px;
}
.left-side {
  padding: 15px;
}

.right-side {
  padding: 0;
  height: 570px;
}
.right-side > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*footer y social*/

footer {
  background-color: #2c2c2c !important;
}

footer .copyright {
  background-color: #191919 !important;
  color: white;
}

.btn-media-socials {
  font-size: 30px;
  margin: 3px;
}

.text-uppercase p {
  color: white;
}


/* nav  */
.badge {
  background-color: #98cfdb;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  
}

.left-nav{
 flex: 1;
}

.right-nav{
  align-items: center;
  color: white;
}


i{
  font-size: 25px;
}
/* CAROUSEL */

.carousel-caption {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.carousel-caption p {
  width: 100%;
  color: white !important;
}

.carousel-caption h5 {
  font-size: 60px;
  font-weight: 900;
  color: white !important;
}

.carousel-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(1.5rem);
}

#map {
  width: 100%;
  height: 180px;
  border-radius: 4px;
}

/* products */

.img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;

}

.product-card {
  background-color: white;
  padding: 10px;
}

.no-bg{
  background-color: transparent;
  background: transparent none;
  border: none;
  padding: 8px 10px;
}
 
.admin-btn{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;

}

/*  botton responsive */

.navbar-toggler {
  border: 1px;
  color: black solid;
  border-radius: 10%;
}

/* texto central home con logo*/

.header-intro h1 {
  font-size: 80px;
  font-weight: 900;
  color: #c1c654;
}

.header-intro p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 30px;
}


.header-intro img {
  max-width: 300px;
}
=======
.center-product{
  display: flex;
  justify-content: center;
}

#nav-btn{
  color: white;
}

.auth-btn{
  margin-top: 30px;
  text-align: center;
}


.content-form{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.content-form > h2, .title{
  text-align: center;
  padding-bottom: 20px;
}

.input > label{
  margin: 10px 0 5px;
  color: #fff;
}

.input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input > input{
  border-radius: 4px;
  border: 1px solid #708b2d;
  padding: 5px 10px;
  width: 500px;
}

form.admin-form{
  background-color: #c1c654 ;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
}


.user-rprofile {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.user-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.user-profile h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
.user-profile p {
  font-size: 24px;
  margin-bottom: 30px;
}
.user-profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: left;
}
.user-profile ul li {
  margin-bottom: 10px;
}

