* {
  color: #6e6e6e;
}

.bg-light-green {
  background-color: #c1c654;
}

.c-white {
  color: white !important;
}

.bold {
  font-weight: 900;
}

.btn-juicy-white {
  background-color: white;
  min-width: 300px;
  color: #708b2d;
}

.btn-juicy-white:hover {
  background-color: #708b2d;
  min-width: 300px;
  color: white;
}

.btn-juicy-green {
  background-color: #c1c654;
  min-width: 300px;
  color: white;
}

.btn-juicy-green:hover {
  background-color: #708b2d;
  min-width: 300px;
  color: white;
}

html {
  height: 100%;
}
nav {
  background-color: #a4ad48 !important;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin: 0;
}

.carousel-inner {
  height: 600px;
  color: white !important;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-detail {
  padding: 60px;
}
.left-side {
  padding: 15px;
}

.right-side {
  padding: 0;
  height: 570px;
}
.right-side > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer {
  background-color: #a4ad48 !important;
  color: white;
}


/* nav  */
.badge {
  background-color: #98cfdb;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  
}

.left-nav{
 flex: 1;
}

.right-nav{
  align-items: center;
  color: white;
}


i{
  font-size: 25px;
}
/* CAROUSEL */

.carousel-caption {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.carousel-caption p {
  width: 100%;
  color: white !important;
}

.carousel-caption h5 {
  font-size: 60px;
  font-weight: 900;
  color: white !important;
}

.carousel-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(1.5rem);
}

.col-lg-6 {
  text-align: center;
}

#map {
  width: 85%;
  height: 180px;
  margin-left: 100px;
}


/* products */

.img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #000;
}

.product-card {
  background-color: white;
  padding: 10px;

}

.no-bg{
  background-color: transparent;
  background: transparent none;
  border: none;

}
 
.admin-btn{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;

}

/*  botton responsive */

.navbar-toggler {
  border: 1px;
  color: black solid;
  border-radius: 10%;
}

/* profile */

.content-img {
  background: cover;
}

.header-intro h1 {
  font-size: 80px;
  font-weight: 900;
  color: #c1c654;
}

.header-intro p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
}

.center-product{
  display: flex;
  justify-content: center;
}

#nav-btn{
  color: white;
}
