<div class="center-products">
  <div class="container my-5">
  <h1 class=" shadow text-center bold"> Mi perfil Juicy</h1>

  <img class="shadow   img" src="./images/perfil.png" alt="Mi foto de usuario" />
  <h2>{{currentUser.name}}Nombre del usuario</h2>
  <p>Descripción del usuario</p>
  <ul>
    <li>Correo electrónico: correo@example.com</li>
    <li>Teléfono: 555-1234</li>
    <li>Dirección: Dirección del usuario</li>
  </ul>
</div>
 