
<div class="profile">
  <div class="container my-5">
  <h1 class="profile-title">Mi perfil Juicy</h1>
  <div class="row">
    <div class="col-lg-6 product-card gx-4">
      <img class="shadow profile-image" src="./images/perfil.png" alt="Imagen de perfil">
      <div class="mt-4"> 
        <label for="usuario">usuario</label>
         <h4 class="bold"> {{currentUser.username}}</h4>
         <label for="Nombre de usuario">Nombre del usuario</label>
         <h4 class="bold"> {{currentUser.firstName}}</h4>
         <label for="Apellido del usuario">Apellido del usuario</label>
         <h4 class="bold"> {{currentUser.lastName}}</h4>
         <label for="Correo electrónico">Correo electrónico</label>
         <h4 class="bold"> {{currentUser.email}}</h4>
         
    </div>
      </div>
        </div>
          </div>
           </div>
          
