<div class="content">
  <div class="content-form">
  <h1>Lista de pedidos</h1>
    {{#each userOrders as |order|}}
    <div class="order-card">
      <a class="a-tag" href="order/order">{{order.status}}</a>
      <ul>
        {{#each order.distinctProducts as |product|}}

        <h6 class="order-list" >{{product.name}} {{product.count}}</h6>
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
</div>