<div class="content">
<h1>Cart</h1>

  <ul>
  {{cart.products.lenght}}
  {{#each cart.products as |product|}}
    <li>{{product.name}}</li>
  {{/each}}
</ul>
<form action="/user/order" method="POST">
  <button type="submit" class="create-btn" data-product-list="{{products}}">Crear pedido</a>

</form>

</div>
