<h2>crear un prodcuto nuevo</h2>
<form action="/products/create" method="POST">
<div>
    <label for="nombre">Nombre del prodcuto</label>
    <input id="nombre" type="text" name="nombre" placeholder="El nombre del prodcuto es requerido" required />
</div>
<div>
    <label for="propiedades">Propiedades del producto</label>
    <input id="propiedades" type="text" name="propiedades" placeholder="Las propiedades del producto son requeridas" required
</div>
<div>
    <label for="ingredientes">Ingredientes del producto</label>
    <input id="ingredientes" type="text" name="ingredientes" placeholder="Los ingredientes del producto son requeridos" required
</div>
<div>
    <label for="precios">Precio del producto</label>
    <input id="precios" type="number" name="precios" placeholder="Los precios de los productos son requeridos"required
</div>
<div>
    <label for="imágenes">Imágenes del prodcuto</label>
    <input id="imágenes" type="files" name="imágenes" placeholder="Las imágenes de los productos son requeridas"required
</div>
<button>Crear productos</button>
</form>