<div class="content">
    <div class="content-form">
    <h2>Crear un producto nuevo</h2>
    <form class="admin-form" action="/products/create" method="POST">
        <div class="input">
            <label id="label" class="form-label" for="nombre">Nombre del prodcuto</label>
            <input id="nombre" type="text" name="nombre" required />
        </div>
        <div class="input">
            <label  id="label" class="form-label" for="propierties">Propiedades del producto</label>
            <input id="propierties" type="text" name="propierties" required />
        </div>
        <div class="input">
            <label  id="label" class="form-label" for="ingredients">Ingredientes del producto</label>
            <input id="ingredients" type="text" name="ingredients" required />
        </div>
        <div class="input">
            <label  id="label" class="form-label" for="price">Precio del producto</label>
            <input id="price" type="number" name="price" required />
        </div>
        <div class="input">
            <label  id="label" class="form-label" for="images">Imágenes del prodcuto</label>
            <input id="images" type="files" name="images" required />
        </div>
        <button class="btn btn-juicy-admin">Crear producto</button>
    </form>

    </div>

</div>