<h2>create a new product</h2>
<form action="/products/create" method="POST">
<div>
    <label for="name">Name of the product</label>
    <input id="name" type="text" name="name" placeholder="Name of the product" required />
</div>
<div>
    <label for="propierties">Propierties of products</label>
    <input id="propierties" type="text" name="propierties" placeholder="Propierties of the product" required
</div>
<div>
    <label for="ingredients">Ingredients of products</label>
    <input id="ingredients" type="text" name="ingredients" placeholder="Ingredients of the product" required
</div>
<div>
    <label for="prices">Prices of products</label>
    <input id="prices" type="number" name="prices" placeholder="Prices of the product"required
</div>
<div>
    <label for="images">Images of products</label>
    <input id="images" type="files" name="images" placeholder="Images of the product"required
</div>
<button>Create products</button>
</form>