<div class="content">
    <h2>crear un prodcuto nuevo</h2>
<form action="/products/create" method="POST">
<div>
    <label for="nombre">Nombre del prodcuto</label>
    <input id="nombre" type="text" name="nombre" placeholder="El nombre del prodcuto es requerido" required />
</div>
<div>
    <label for="propierties">Propiedades del producto</label>
    <input id="propierties" type="text" name="propierties" required />
</div>
<div>
    <label for="ingredients">Ingredientes del producto</label>
    <input id="ingredients" type="text" name="ingredients" required />
</div>
<div>
    <label for="price">Precio del producto</label>
    <input id="price" type="number" name="price" required />
</div>
<div>
    <label for="images">Imágenes del prodcuto</label>
    <input id="images" type="files" name="images"  required />
</div>
<button>Crear productos</button>
</form>

</div>
